<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Frist Name , Lats Name</mat-card-title>
      <mat-card-subtitle>Company Name</mat-card-subtitle>
    </mat-card-header>
    <img
     mat-card-image width="100px;" height="280px;" src="https://www.qrstuff.com/images/sample.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        ici sector activity if falee7

      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary"
        (click)="DownloadImage()">Download</button>

    </mat-card-actions>
  </mat-card>
