<div class="container">


  <h1 *ngIf="!product">No notifications </h1>

  <div *ngIf="product">

    <h2>Send this Product to Retailer</h2>


    <div>

  <p> Product Title : Bannanes </p>
  <p> Product Catagory : Fruits </p>

  <p> Product Farmer date  :   {{ product.data.shipdate | date: 'dd/MM/yyyy' }}</p>

  <p> Product Address  :  {{ product.data.city }} </p>
 

  <p> Product Farmer : Adem Mkacher </p>

  </div>

      <form class="example-form">


        <div fxFlexFill>
          <h4>Select your Retailer </h4>
  
          <mat-form-field>
            <mat-select placeholder="Select your Retailer">
              <mat-option *ngFor="let ret of retailers" [value]="ret">
                {{ret }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
    
        </div>


        <mat-form-field>
                <input matInput
                [formControl]="retailerdate" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

          <mat-form-field class="example-full-width">
            <input  [formControl]="location"  matInput placeholder="Your Location" value="Tunis">
          </mat-form-field>



          <button  (click)="Send()" mat-raised-button color="primary">Send</button>




        </form>

      </div>

  </div>
