<div class="container">

    <h2>Send this Product to Retailer</h2>



  <p> Product Title : </p>
  <p> Product Ctagory : </p>

  <p> Product Farmer date  : </p>

  <p> Product Address  : </p>

      <form class="example-form">


          <div fxFlex  fxLayout="column" fxLayout.lt-md="column">
              <div fxFlexFill>
                <h4>Select your Retailer </h4>
                <mat-form-field>
                  <select matNativeControl required>
                   <!-- <option *ngFor="let ret of retailers">
                    {{ret.value }}
                   </option>-->

                  </select>
                </mat-form-field>
              </div>

             </div>


        <mat-form-field>
                <input matInput
                [formControl]="date" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

          <mat-form-field class="example-full-width">
            <input  [formControl]="location"  matInput placeholder="Your Location" value="Tunis">
          </mat-form-field>



          <button  (click)="Send()" mat-raised-button color="primary">Send</button>




        </form>


  </div>
